body {
    background-color :#16032a;
    text-align:center;
}

.input-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:500px;
    
}
.password-input{
    border:none;
    width: 30%;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    border-radius:2px;
    outline:none;
    position: absolute;
}

.hiButton {
    position:relative;
    right :10px;
    buttom:10px;
}